<nav class="navbar navbar-expand-lg header">
  <div class="container-fluid">
    <a class="navbar-brand" style="color: white" routerLink="/">
      <i class="bi bi-c-square-fill"></i>
       <span class="nav-text"> Code with Chirag</span>
    </a>
    
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarScroll"
      aria-controls="navbarScroll"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul
        class="navbar-nav ms-auto me-5 my-2 my-lg-0 navbar-nav-scroll"
        style="--bs-scroll-height: 100px"
      >
        <li class="nav-item mx-1 nav-icon-item">
          <a class="nav-link" routerLink="/">
            <i class="bi bi-house-fill nav-icon"></i>
            <span class="nav-text">Home</span>
          </a>
        </li>
        <li class="nav-item mx-1 nav-icon-item">
          <a class="nav-link" routerLink="/mobilecard">
            <i class="bi bi-phone-fill nav-icon"></i>
            <span class="nav-text">Mobiles</span>
          </a>
        </li>
        <li class="nav-item mx-1 nav-icon-item">
          <a class="nav-link" routerLink="/about">
            <i class="bi bi-file-person-fill nav-icon"></i>
            <span class="nav-text">About</span>
          </a>
        </li>
        <li class="nav-item mx-1 nav-icon-item">
          <a class="nav-link" routerLink="/mobile">
            <i class="bi bi-journal-text nav-icon"></i>
            <span class="nav-text">Admin</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
